@model IEnumerable<Idea1.Models.Role>

@{
    ViewBag.Title = "RoleList";
}

<h2>RoleList</h2>

<p class="text-center text-light btn-link" >
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleID })
        </td>
    </tr>
}

</table>
